/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-01-07, 14:11:29
    Author     : Grzegorz
*/
.zaloguj_button
{
    width:220px;
    height:40px;
    color:yellowgreen;
    background-color:green ;
    border-radius: 10px;
    border:none;
    font-size: 20px;
    padding-right: 20px;
    

}
.zaloguj_button:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
button:focus {
    text-decoration: none;
    outline:none;
    border: none;
    box-shadow: none;
}
.zaloguj_input
{ width:200px;
  height:40px;
  color:yellowgreen;
  background-color:green ;
  border-radius: 10px;
  border-radius: 10px;
  border:none;
 padding-left: 20px;
 font-size: 24px;
 
}
.zaloguj_text
{
    width:200px;
  height:40px;
  color:yellowgreen;
 
  
  border:none;
}
